---
// STYLES //
import "@/styles/animation.css";
import "@/styles/global.css";

// COMPONENTS //
import Header from "@/components/layout/Header.astro";
import Footer from "@/components/layout/Footer.astro";
import { Icon } from "astro-icon/components";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Chinook Driving School Calgary",
  description = "Chinook Driving School Calgary website.",
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <link rel="icon" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="relative">
    <!-- Header -->
    <div class="absolute inset-x-0 top-0 z-30">
      <Header />
    </div>

    <!-- Main -->
    <main class="relative">
      <slot />
    </main>

    <!-- Footer -->
    <Footer />

    <!-- WhatsApp Floating Chat Button -->
    <a
      href="https://wa.me/5879719393?text=Hey%20there%2C%20I%27m%20interested%20in%20Chinook%20Driving%20School.%20Can%20you%20guide%20me%20%3F"
      class="whatsapp-btn"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Chat on WhatsApp"
    >
      <Icon name="whatsapp" aria-hidden="true" />
    </a>
  </body>
</html>
