---
// COMPONENTS //
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  title: string;
  description: string;
  illustration: ImageMetadata;
  illustrationAlt?: string;
  flipImage?: boolean; 
}

const {
  title,
  description,
  illustration,
  illustrationAlt = title,
  flipImage = false, 
} = Astro.props as Props;
---

<div class="container mx-auto flex flex-col gap-9 px-6 pt-22 md:gap-10 md:px-8 lg:flex-row lg:items-end lg:justify-between lg:gap-8 lg:px-4 lg:pt-24 xl:gap-12">
  
  <!-- Title and Description -->
  <div class="flex min-w-0 flex-col gap-6 md:gap-7 lg:flex-[1.05] lg:gap-8 lg:self-end lg:pb-32">
    <p class="text-3xl font-bold leading-tight text-n-900 md:text-5xl lg:text-6xl">
      {title}
    </p>
    <p class="text-sm font-medium leading-7 text-n-700 md:text-lg md:leading-7 lg:text-xl">
      {description}
    </p>
    
     
       
    
  </div>

  <div class="mx-auto w-full max-w-[327px] md:max-w-[768px] lg:mx-0 lg:min-w-0 lg:flex-[0.95] lg:self-end lg:max-w-[700px] xl:flex-none xl:w-[700px]">
    <Image
      src={illustration}
      alt={illustrationAlt}
      class="block h-auto w-full object-contain"
    />
  </div>
</div>
