---
// COMPONENTS //
import HeroCard from "@/components/HeroCard.astro";

// IMAGES //
import contactIllustration from "@/assets/contact-illustration.png";
---

<section class="overflow-hidden bg-n-100">
  <HeroCard
    title="Terms &amp; Conditions"
    description="Review the terms and conditions for Chinook Driving School Calgary."
    illustration={contactIllustration}
    illustrationAlt="Instructor illustration"
  />
</section>
