---
// COMPONENTS //
import HeroCard from "@/components/HeroCard.astro";

// DATA //
import { enrollHeroData } from "@/data/enroll-hero-data";

const heroContent = {
  title: enrollHeroData.title,
  description: enrollHeroData.description,
};

---

<section class="bg-n-100 overflow-hidden">
  <HeroCard
    title={heroContent.title}
    description={heroContent.description}
    illustration={enrollHeroData.illustration}
    illustrationAlt={enrollHeroData.illustrationAlt}
  />
</section>
