---
// COMPONENTS //
import HeroCard from "@/components/HeroCard.astro";

// DATA //
import { getEnrollHeroViewModel } from "@/data/site-content-mappers";

const heroContent = await getEnrollHeroViewModel();

---

<section class="bg-n-100 overflow-hidden">
  <HeroCard
    title={heroContent.title}
    description={heroContent.description}
    illustration={heroContent.illustration}
    illustrationAlt={heroContent.illustrationAlt}
  />
</section>
