---
// COMPONENTS //
import HeroCard from "@/components/HeroCard.astro";

// IMAGES //
import contactIllustration from "public/images/contact-hero.png";
---

<section class="bg-n-100">
  <HeroCard
    title="Privacy Policy"
    description=""
    illustration={contactIllustration}
    illustrationAlt="Instructor illustration"
  />
</section>
