---
// COMPONENTS //
import TestimonialCard from "@/components/TestimonialCard.astro";

// DATA //
import { testimonialSectionDetails } from "@/data/testimonials";
import type { TestimonialData } from "@/types/testimonial";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

const { testimonials } = testimonialSectionDetails;
---


<section class="review-section w-full">

  <!-- container -->
  <div class="container mx-auto px-6 py-11 flex flex-col gap-7 lg:px-40 lg:py-32 lg:gap-16">

    <!-- ── header ─────────────────────────────────────────── -->
    <div class="header flex flex-col items-center gap-1">

      <!-- "Google Reviews" label -->
      <p class="font-poppins font-bold text-xs leading-4 tracking-normal text-center uppercase align-center lg:text-sm text-blue-500">
        Google Reviews
      </p>

      <!-- Heading -->
      <h2 class="font-poppins font-bold text-3xl leading-tight tracking-normal text-center lg:text-5xl">
        Trusted by 100s of Calgary Learners
      </h2>

    </div>
   

    <!-- ── content-wrap ───────────────────────────────────── -->
    <div class="flex flex-col gap-5 lg:gap-12">

      <!-- ── review-rating ──────────────────────────────── -->
      <div class="review-rating flex flex-col gap-2.5 lg:justify-between lg:flex-row ">

        <!-- Left: label + stars + count -->
        <div class="flex flex-col gap-0.5 lg:gap-4 self-start ">
          <div class="font-inter font-medium text-lg leading-tight tracking-normal">
            Customer reviews on Google
          </div>

          <div class="flex items-center gap-1">
            <!-- Stars -->
           <div class="flex items-center gap-1" aria-label="5 out of 5 stars">
              {Array.from({ length: 5 }, (_, index) => (
                <Icon
                  name="star"
                  class:list={[
                    "size-4",
                    index < 5 ? "text-yellow-500" : "text-n-300",
                  ]}
                  aria-hidden="true"
                />
              ))}
            </div>

            <span class="font-inter font-medium text-xs leading-tight tracking-normal text-center">
              5.0 rating of 12 reviews
            </span>
          </div>
        </div>

        <!-- Right: CTA button -->
        <button
          class="hover:cursor-pointer font-inter w-fit py-2 px-4 rounded-lg opacity-100 lg:py-4 lg:px-6 lg:gap-2.5 bg-blue-500 text-n-100 text-xs text-medium leading-tight tracking-normal text-center lg:text-base lg:leading-5"
        >
          Leave a Review  
        </button>

      </div>
      <!-- /review-rating -->

      <!-- ── cards-wrap ─────────────────────────────────── -->
      <div class="cards-wrap flex flex-col gap-4 relative">
 
        <!-- Scrollable track -->
       <div id="testimonial-track" class="overflow-hidden">
          <div id="testimonial-container" class="flex gap-5">
            {testimonials.map((testimonial) => (
              <div class="flex-shrink-0 w-full snap-start lg:w-100">
                <TestimonialCard
                  testimonial={testimonial}
                  rating={testimonial.rating}
                />
              </div>
            ))}
          </div>
        </div>

 
        <!-- Mobile prev/next buttons — hidden on lg and above -->
        <div class="flex items-center justify-end gap-6 ">
 
          <!-- Prev button -->
        
          
          <button
            id="testimonial-prev"
            class="w-11 h-11 rounded-full bg-n-50 shadow-md
                   flex items-center justify-center text-n-900 lg:hidden hover:cursor-pointer"
            aria-label="Previous review"
          >
            <img src="/icons/arrow.svg" alt="previous" class="size-4 rotate-90" />
          </button>

          <!-- Next button -->
          <button
            id="testimonial-next"
            class=" lg:absolute w-11 h-11 rounded-full bg-n-50 shadow-md
                   flex items-center justify-center
                   text-n-900 bottom-50 left-300 z-10 hover:cursor-pointer"
            aria-label="Next review"
          >
            <img src="/icons/arrow.svg" alt="next" class="size-4 -rotate-90" />
          </button>

 
        </div>
        <!-- /mobile buttons -->
 
      </div>
      <!-- /cards-wrap -->

      <!-- /cards-wrap -->

    </div>
    <!-- /content-wrap -->

  </div>
  <!-- /container -->

</section>
<!-- /review-section -->

<script>
  import EmblaCarousel from "embla-carousel";

  const trackEl = document.getElementById("testimonial-track") as HTMLElement;
  const containerEl = document.getElementById("testimonial-container") as HTMLElement;

  const embla = EmblaCarousel(trackEl, {
    container: containerEl,
    loop: false,
    align: "start",
    dragFree: false,
  });

 document.getElementById("testimonial-prev")?.addEventListener("click", () => {
  embla.scrollPrev();
});

document.getElementById("testimonial-next")?.addEventListener("click", () => {
  if (embla.canScrollNext()) {
    embla.scrollNext();
  } else {
    embla.scrollTo(0);
  }
});
</script>