---
// COMPONENTS //
import TestimonialCard from "@/components/TestimonialCard.astro";

// DATA //
import { testimonialSectionDetails } from "apps/frontend/src/data/testimonials";

---

<section class="bg-n-500">
  <!-- Container -->
  <div class="mx-auto w-full container px-4 sm:px-6 lg:px-8 py-10 sm:py-12 lg:py-16">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-3 lg:gap-10">
      {
        testimonialSectionDetails.testimonials.map((testimonial) => (
          <TestimonialCard
            testimonial={testimonial}
            rating={testimonial.rating}
          />
        ))
      }
    </div>
  </div>
</section>
